body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 20px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #538ea585; /* El color del fondo de la página web */
    color: #0c0909; /* El color del texto*/ 
}
h1 {
    text-align: center;
    font-size: 60px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% {
      color: rgb(227, 129, 17);
    }

    25%{
        color: green
    }
  
    50% {
      color: red;
    }
  
    75% {
      color: rgb(10, 0, 120);
    }

    100%{
        color: rgb(227, 129, 17)
    }
}
